/* IMPORT FONTS ---------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-body: Work Sans;
  --font-header: Pridi;
  --font-title: Bungee Shade;
}

/* GENERAL ---------------------------------------------------------------------------------------------------- */
html {
    background-color: rgb(250, 250, 250);
    margin-left: 5vw;
    margin-right: 5vw;
}
body {
    width: 100%;
    @media (pointer: fine) {
        max-width: 1000px;
    }
    margin: auto;
}
hr {
    border: none;
    height: 1px;
    color: rgb(150, 150, 150);
    background-color: rgb(150, 150, 150);
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.footer {
    text-align: right;
}
sup, sub {
    line-height: 0;
}

/* DEFAULTS ---------------------------------------------------------------------------------------------------- */
p, li {
    font-family: var(--font-body);
    font-weight: 350;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
a {
    color: cornflowerblue;
    text-decoration: none;
    font-family: var(--font-body);
    font-size: 14px;
    font-weight: 400;
}
a:hover {
    color: royalblue;
}
i {
    padding-right: 2px;
}
b {
    font-weight: 500;
}
.margins {
    max-width: 800px;
    width: 100%;
    margin: auto;
    line-height: 1.5;
}

/* TITLE AND SUBTITLE ---------------------------------------------------------------------------------------------------- */
.website_title {
    text-align: center;
    font-family: "Bungee Shade";
    font-style: italic;
    margin-top: 2vh;
    margin-bottom: 0vh;
    font-size: 7vw;
    @media (pointer: fine) {
        font-size: 34px;
    }
}
.website_subtitle {
    text-align: center;
    font-family: "Pridi";
    font-style: italic;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 1vh;
    font-size: 5vw;
    @media (pointer: fine) {
        font-size: 24px;
    }
}

/* CONTENTS ---------------------------------------------------------------------------------------------------- */
.contents {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}
.contents p {
    display: inline-block;
    font-weight: 500;
    margin: 2px;
}
.contents a {
    display: inline-block;
    font-weight: 400;
    margin: 2px;
}
.contents a:hover {
    font-weight: 500;
}

/* FEED STUFF ---------------------------------------------------------------------------------------------------- */
.feed_post {
    background-color: rgb(225, 225, 225);
    width: 100%;
    @media (pointer: fine) {
        max-width: 500px;
    }
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
}
.feed_post_header {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
.feed_post_title {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: "Pridi";
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
}
.feed_post img {
    margin-top: 10px;
    border-radius: 5px;
}
.feed_post_description {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* POST STUFF ---------------------------------------------------------------------------------------------------- */
.post_header {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: var(--font-body);
    font-size: 14px;
    font-weight: 350;
    margin-top: 0px;
    margin-bottom: 0px;
}
.post_title {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: "Pridi";
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 0px;
}

/* IMAGES ---------------------------------------------------------------------------------------------------- */
img {
    display: block;
    width: 100%;
    @media (pointer: fine) {
        max-width: 500px;
    }
    margin: auto;
}
.small {
    width: 100%;
    max-width: 250px;
}
.bookshelf {
    width: 100%;
    max-width: 250px;
    margin: 20px;
}
.profile {
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
}